## 4.2 複数の変数を含む列があるとき
Pivotテーブルの列名が複数の変数を結合した文字列の場合

In [12]:
import polars as pl
pl.Config.set_tbl_cols(-1)# 列が省略されないようにする

polars.config.Config

### データを読み込む

In [13]:
# 列名が 状態_国 で書かれている
# e.g
# Cases_Guinea: ギアナの患者数
# Deaths_Guinea: ギアナの死者数
ebola = pl.read_csv("../data/country_timeseries.csv")
ebola.head()

shape: (5, 18)
┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
│ Dat ┆ Day ┆ Cas ┆ Cas ┆ Cas ┆ Cas ┆ Cas ┆ Cas ┆ Cas ┆ Cas ┆ Dea ┆ Dea ┆ Dea ┆ Dea ┆ Dea ┆ Dea ┆ Dea ┆ Dea │
│ e   ┆ --- ┆ es_ ┆ es_ ┆ es_ ┆ es_ ┆ es_ ┆ es_ ┆ es_ ┆ es_ ┆ ths ┆ ths ┆ ths ┆ ths ┆ ths ┆ ths ┆ ths ┆ ths │
│ --- ┆ i64 ┆ Gui ┆ Lib ┆ Sie ┆ Nig ┆ Sen ┆ Uni ┆ Spa ┆ Mal ┆ _Gu ┆ _Li ┆ _Si ┆ _Ni ┆ _Se ┆ _Un ┆ _Sp ┆ _Ma │
│ str ┆     ┆ nea ┆ eri ┆ rra ┆ eri ┆ ega ┆ ted ┆ in  ┆ i   ┆ ine ┆ ber ┆ err ┆ ger ┆ neg ┆ ite ┆ ain ┆ li  │
│     ┆     ┆ --- ┆ a   ┆ Leo ┆ a   ┆ l   ┆ Sta ┆ --- ┆ --- ┆ a   ┆ ia  ┆ aLe ┆ ia  ┆ al  ┆ dSt ┆ --- ┆ --- │
│     ┆     ┆ i64 ┆ --- ┆ ne  ┆ --- ┆ --- ┆ tes ┆ i64 ┆ i64 ┆ --- ┆ --- ┆ one ┆ --- ┆ --- ┆ ate ┆ i64 ┆ i64 │
│     ┆     ┆     ┆ i64 ┆ --- ┆ i64 ┆ i64 ┆ --- ┆     ┆     ┆ i64 ┆ i64 ┆ --- ┆ i64 ┆ i64 ┆ s   ┆     ┆     │
│     ┆     ┆     ┆     ┆ i64 ┆     ┆     ┆ i64 ┆     ┆     ┆     ┆     ┆ i64 ┆     ┆     ┆ --- ┆     ┆     │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ i64 ┆     ┆     │
╞═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╡
│ 1/5 ┆ 289 ┆ 277 ┆ nul ┆ 100 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ 178 ┆ nul ┆ 297 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul │
│ /20 ┆     ┆ 6   ┆ l   ┆ 30  ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ 6   ┆ l   ┆ 7   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   │
│ 15  ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     │
│ 1/4 ┆ 288 ┆ 277 ┆ nul ┆ 978 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ 178 ┆ nul ┆ 294 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul │
│ /20 ┆     ┆ 5   ┆ l   ┆ 0   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ 1   ┆ l   ┆ 3   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   │
│ 15  ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     │
│ 1/3 ┆ 287 ┆ 276 ┆ 816 ┆ 972 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ 176 ┆ 349 ┆ 291 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul │
│ /20 ┆     ┆ 9   ┆ 6   ┆ 2   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ 7   ┆ 6   ┆ 5   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   │
│ 15  ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     │
│ 1/2 ┆ 286 ┆ nul ┆ 815 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ 349 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul │
│ /20 ┆     ┆ l   ┆ 7   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ 6   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   │
│ 15  ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     │
│ 12/ ┆ 284 ┆ 273 ┆ 811 ┆ 963 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul ┆ 173 ┆ 347 ┆ 282 ┆ nul ┆ nul ┆ nul ┆ nul ┆ nul │
│ 31/ ┆     ┆ 0   ┆ 5   ┆ 3   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   ┆ 9   ┆ 1   ┆ 7   ┆ l   ┆ l   ┆ l   ┆ l   ┆ l   │
│ 201 ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     │
│ 4   ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     │
└─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘

### データを変換する

#### 縦持ちに変換する

In [14]:
ebola_long = ebola.melt(id_vars = ["Date", "Day"])
ebola_long.head()

shape: (5, 4)
┌────────────┬─────┬──────────────┬───────┐
│ Date       ┆ Day ┆ variable     ┆ value │
│ ---        ┆ --- ┆ ---          ┆ ---   │
│ str        ┆ i64 ┆ str          ┆ i64   │
╞════════════╪═════╪══════════════╪═══════╡
│ 1/5/2015   ┆ 289 ┆ Cases_Guinea ┆ 2776  │
│ 1/4/2015   ┆ 288 ┆ Cases_Guinea ┆ 2775  │
│ 1/3/2015   ┆ 287 ┆ Cases_Guinea ┆ 2769  │
│ 1/2/2015   ┆ 286 ┆ Cases_Guinea ┆ null  │
│ 12/31/2014 ┆ 284 ┆ Cases_Guinea ┆ 2730  │
└────────────┴─────┴──────────────┴───────┘

#### 結合された列を分割する

In [15]:
# 結合された列を分割する
df_variable_split = (
    ebola_long["variable"]
    .str.split_exact("_", 1)# 文字列を分割して、複数列のDataFrameに変換する
    .struct.rename_fields(["status", "country"])# 分割DataFrameの列名を変換する
    .alias("fields")# 列名を仮置きする
    .to_frame().unnest("fields")# 分割DataFrameを普通のDataFRameに変換する
)

# 分割した列を追加する
ebola_long = pl.concat(items = [ebola_long, df_variable_split], how = "horizontal")

ebola_long.head()

shape: (5, 6)
┌────────────┬─────┬──────────────┬───────┬────────┬─────────┐
│ Date       ┆ Day ┆ variable     ┆ value ┆ status ┆ country │
│ ---        ┆ --- ┆ ---          ┆ ---   ┆ ---    ┆ ---     │
│ str        ┆ i64 ┆ str          ┆ i64   ┆ str    ┆ str     │
╞════════════╪═════╪══════════════╪═══════╪════════╪═════════╡
│ 1/5/2015   ┆ 289 ┆ Cases_Guinea ┆ 2776  ┆ Cases  ┆ Guinea  │
│ 1/4/2015   ┆ 288 ┆ Cases_Guinea ┆ 2775  ┆ Cases  ┆ Guinea  │
│ 1/3/2015   ┆ 287 ┆ Cases_Guinea ┆ 2769  ┆ Cases  ┆ Guinea  │
│ 1/2/2015   ┆ 286 ┆ Cases_Guinea ┆ null  ┆ Cases  ┆ Guinea  │
│ 12/31/2014 ┆ 284 ┆ Cases_Guinea ┆ 2730  ┆ Cases  ┆ Guinea  │
└────────────┴─────┴──────────────┴───────┴────────┴─────────┘

### パイプラインを作成する
上記の内容を1セルにまとめる

In [16]:
import polars as pl
pl.Config.set_tbl_cols(-1)

# データを読み込む
ebola = pl.read_csv("../data/country_timeseries.csv")


ebola_long = (
    ebola
    # 縦持ちに変換する
    .melt(id_vars = ["Date", "Day"])
    # 状態_国 の列を2つの列に分割して、DataFrameに追加する
    .with_columns(
        pl.col("variable")
        .str.split_exact("_", 1)
        .struct.rename_fields(["status", "country"])
        .alias("fields")
    ).unnest("fields")# pl.col()を用いる場合、unnestを最後につける
)

ebola_long.head()

shape: (5, 6)
┌────────────┬─────┬──────────────┬───────┬────────┬─────────┐
│ Date       ┆ Day ┆ variable     ┆ value ┆ status ┆ country │
│ ---        ┆ --- ┆ ---          ┆ ---   ┆ ---    ┆ ---     │
│ str        ┆ i64 ┆ str          ┆ i64   ┆ str    ┆ str     │
╞════════════╪═════╪══════════════╪═══════╪════════╪═════════╡
│ 1/5/2015   ┆ 289 ┆ Cases_Guinea ┆ 2776  ┆ Cases  ┆ Guinea  │
│ 1/4/2015   ┆ 288 ┆ Cases_Guinea ┆ 2775  ┆ Cases  ┆ Guinea  │
│ 1/3/2015   ┆ 287 ┆ Cases_Guinea ┆ 2769  ┆ Cases  ┆ Guinea  │
│ 1/2/2015   ┆ 286 ┆ Cases_Guinea ┆ null  ┆ Cases  ┆ Guinea  │
│ 12/31/2014 ┆ 284 ┆ Cases_Guinea ┆ 2730  ┆ Cases  ┆ Guinea  │
└────────────┴─────┴──────────────┴───────┴────────┴─────────┘

###