## データを自作する

### 2.1.1 Seriesを作る

In [31]:
import polars as pl

s = pl.Series(name = None, values = ["banana", 42])
print(s)

shape: (2,)
Series: '' [str]
[
	"banana"
	null
]

### 2.1.2 DataFrameを作る
本文より,
DataFrameはSeriesオブジェクトの辞書だと考えることができる。
だからこそDataFrameは、辞書として作るのが最も一般的なのだ。
その辞書のキーが列の名前、値が列の内容である。

In [32]:
scientists = pl.DataFrame({
    "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"]
    })
scientists

shape: (2, 4)
┌───────────────────┬──────────────┬────────────┬────────────┐
│ Name              ┆ Occupation   ┆ Born       ┆ Died       │
│ ---               ┆ ---          ┆ ---        ┆ ---        │
│ str               ┆ str          ┆ str        ┆ str        │
╞═══════════════════╪══════════════╪════════════╪════════════╡
│ Rosaline Franklin ┆ Chemist      ┆ 1920-07-25 ┆ 1958-04-16 │
│ William Gosset    ┆ Statistician ┆ 1876-06-13 ┆ 1937-10-16 │
└───────────────────┴──────────────┴────────────┴────────────┘

In [33]:
# 各列のデータ型を指定する
data = {
    "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"]
    }
scientists = pl.DataFrame(data = data, schema = {
    "Name": pl.Utf8,
    "Occupation": pl.Utf8,
    "Born": pl.Date,
    "Died": pl.Date
    })
scientists

shape: (2, 4)
┌───────────────────┬──────────────┬────────────┬────────────┐
│ Name              ┆ Occupation   ┆ Born       ┆ Died       │
│ ---               ┆ ---          ┆ ---        ┆ ---        │
│ str               ┆ str          ┆ date       ┆ date       │
╞═══════════════════╪══════════════╪════════════╪════════════╡
│ Rosaline Franklin ┆ Chemist      ┆ 1920-07-25 ┆ 1958-04-16 │
│ William Gosset    ┆ Statistician ┆ 1876-06-13 ┆ 1937-10-16 │
└───────────────────┴──────────────┴────────────┴────────────┘

In [34]:
# 各列のデータ型を指定する(その2)
data = {
    "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"]
    }
scientists = pl.DataFrame(data = data, schema = [
    ("Name", pl.Utf8),
    ("Occupation", pl.Utf8),
    ("Born", pl.Date),
    ("Died", pl.Date)
    ])
scientists

shape: (2, 4)
┌───────────────────┬──────────────┬────────────┬────────────┐
│ Name              ┆ Occupation   ┆ Born       ┆ Died       │
│ ---               ┆ ---          ┆ ---        ┆ ---        │
│ str               ┆ str          ┆ date       ┆ date       │
╞═══════════════════╪══════════════╪════════════╪════════════╡
│ Rosaline Franklin ┆ Chemist      ┆ 1920-07-25 ┆ 1958-04-16 │
│ William Gosset    ┆ Statistician ┆ 1876-06-13 ┆ 1937-10-16 │
└───────────────────┴──────────────┴────────────┴────────────┘

In [35]:
# SeriesのリストとしてDataFrameを定義する
data = [
    pl.Series("Name", ["Rosaline Franklin", "William Gosset"], dtype = pl.Utf8),
    pl.Series("Occupation", ["Chemist", "Statistician"], dtype = pl.Utf8),
    pl.Series("Born", ["1920-07-25", "1876-06-13"], dtype = pl.Date),
    pl.Series("Died", ["1958-04-16", "1937-10-16"], dtype = pl.Date)
]
scientists = pl.DataFrame(data = data)
scientists

shape: (2, 4)
┌───────────────────┬──────────────┬────────────┬────────────┐
│ Name              ┆ Occupation   ┆ Born       ┆ Died       │
│ ---               ┆ ---          ┆ ---        ┆ ---        │
│ str               ┆ str          ┆ str        ┆ str        │
╞═══════════════════╪══════════════╪════════════╪════════════╡
│ Rosaline Franklin ┆ Chemist      ┆ 1920-07-25 ┆ 1958-04-16 │
│ William Gosset    ┆ Statistician ┆ 1876-06-13 ┆ 1937-10-16 │
└───────────────────┴──────────────┴────────────┴────────────┘

## 2.2 Seriesについて

In [36]:
scientists = pl.DataFrame(data = [
    pl.Series("Name", ["Rosaline Franklin", "William Gosset"], dtype = pl.Utf8),
    pl.Series("Occupation", ["Chemist", "Statistician"], dtype = pl.Utf8),
    pl.Series("Born", ["1920-07-25", "1876-06-13"], dtype = pl.Date),
    pl.Series("Died", ["1958-04-16", "1937-10-16"], dtype = pl.Date),
    pl.Series("Age", [37, 61], dtype = pl.Int8)
])
scientists

shape: (2, 5)
┌───────────────────┬──────────────┬────────────┬────────────┬─────┐
│ Name              ┆ Occupation   ┆ Born       ┆ Died       ┆ Age │
│ ---               ┆ ---          ┆ ---        ┆ ---        ┆ --- │
│ str               ┆ str          ┆ str        ┆ str        ┆ i8  │
╞═══════════════════╪══════════════╪════════════╪════════════╪═════╡
│ Rosaline Franklin ┆ Chemist      ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  │
│ William Gosset    ┆ Statistician ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  │
└───────────────────┴──────────────┴────────────┴────────────┴─────┘

In [37]:
first_row = scientists[0, :]
print( type(first_row) )
print(first_row)

<class 'polars.dataframe.frame.DataFrame'>
shape: (1, 5)
┌───────────────────┬────────────┬────────────┬────────────┬─────┐
│ Name              ┆ Occupation ┆ Born       ┆ Died       ┆ Age │
│ ---               ┆ ---        ┆ ---        ┆ ---        ┆ --- │
│ str               ┆ str        ┆ str        ┆ str        ┆ i8  │
╞═══════════════════╪════════════╪════════════╪════════════╪═════╡
│ Rosaline Franklin ┆ Chemist    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  │
└───────────────────┴────────────┴────────────┴────────────┴─────┘

In [38]:
print(first_row.var)

<bound method DataFrame.var of shape: (1, 5)
┌───────────────────┬────────────┬────────────┬────────────┬─────┐
│ Name              ┆ Occupation ┆ Born       ┆ Died       ┆ Age │
│ ---               ┆ ---        ┆ ---        ┆ ---        ┆ --- │
│ str               ┆ str        ┆ str        ┆ str        ┆ i8  │
╞═══════════════════╪════════════╪════════════╪════════════╪═════╡
│ Rosaline Franklin ┆ Chemist    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  │
└───────────────────┴────────────┴────────────┴────────────┴─────┘>

In [39]:
print(first_row.rows_by_key(key = "Name"))

defaultdict(<class 'list'>, {'Rosaline Franklin': [('Chemist', '1920-07-25', '1958-04-16', 37)]})

### 2.2.1 Seriesは、ndarrayに似たもの

In [40]:
ages = scientists["Age"]
print(ages)

shape: (2,)
Series: 'Age' [i8]
[
	37
	61
]

In [41]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())
print(ages.sum())

49.0
37
61
16.97056274847714
98

### 2.2.2 Seriesを真偽値で取り込む

In [42]:
scientists = pl.read_csv("../data/scientists.csv")
scientists

shape: (8, 5)
┌──────────────────────┬────────────┬────────────┬─────┬────────────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation         │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---                │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str                │
╞══════════════════════╪════════════╪════════════╪═════╪════════════════════╡
│ Rosaline Franklin    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  ┆ Chemist            │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician       │
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse              │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist            │
│ Rachel Carson        ┆ 1907-05-27 ┆ 1964-04-14 ┆ 56  ┆ Biologist          │
│ John Snow            ┆ 1813-03-15 ┆ 1858-06-16 ┆ 45  ┆ Physician          │
│ Alan Turing          ┆ 1912-06-23 ┆ 1954-06-07 ┆ 41  ┆ Computer Scientist │
│ Johann Gauss         ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematician      │
└──────────────────────┴────────────┴────────────┴─────┴────────────────────┘

In [43]:
ages = scientists["Age"]
print(ages)
print(ages.describe())
print(ages.mean())

shape: (8,)
Series: 'Age' [i64]
[
	37
	61
	90
	66
	56
	45
	41
	77
]
shape: (9, 2)
┌────────────┬───────────┐
│ statistic  ┆ value     │
│ ---        ┆ ---       │
│ str        ┆ f64       │
╞════════════╪═══════════╡
│ count      ┆ 8.0       │
│ null_count ┆ 0.0       │
│ mean       ┆ 59.125    │
│ std        ┆ 18.325918 │
│ min        ┆ 37.0      │
│ 25%        ┆ 45.0      │
│ 50%        ┆ 61.0      │
│ 75%        ┆ 77.0      │
│ max        ┆ 90.0      │
└────────────┴───────────┘
59.125

In [44]:
#ages[ages > ages.mean()]
# polarsのSeriesにおけるfilterはbool値のリストを渡す型式のため、
# DataFrameで絞り込んだ方が良い
scientists.filter( pl.col("Age") > ages.mean() )["Age"]

shape: (4,)
Series: 'Age' [i64]
[
	61
	90
	66
	77
]

In [45]:
# 真偽値のSeries
print( ages > ages.mean() )
# 真偽値のList
print( (ages > ages.mean()).to_list() )

shape: (8,)
Series: 'Age' [bool]
[
	false
	true
	true
	true
	false
	false
	false
	true
]
[False, True, True, True, False, False, False, True]

In [46]:
manual_bool_values = [True, True, False, False, True,
                      True, False, True]

# pandasではSeriesに要素数と同じ長さのbool listを渡すと、Trueの要素を絞り込む
#print(ages[manual_bool_values])

# polarsの場合、Series.filter()を使用する
print(ages.filter(manual_bool_values))

shape: (5,)
Series: 'Age' [i64]
[
	37
	61
	56
	45
	77
]

### 2.2.3 演算の自動的な整列とベクトル化(ブロードキャスティング)

#### 2.2.3.1 同じ長さのベクトル

In [47]:
print(ages + ages)
print(ages * ages)

shape: (8,)
Series: 'Age' [i64]
[
	74
	122
	180
	132
	112
	90
	82
	154
]
shape: (8,)
Series: 'Age' [i64]
[
	1369
	3721
	8100
	4356
	3136
	2025
	1681
	5929
]

#### 2.2.3.2 ベクトルと整数値(スカラー)

In [48]:
print(ages + 100)
print(ages * 2)

shape: (8,)
Series: 'Age' [i64]
[
	137
	161
	190
	166
	156
	145
	141
	177
]
shape: (8,)
Series: 'Age' [i64]
[
	74
	122
	180
	132
	112
	90
	82
	154
]

#### 2.2.3.3 長さの違うベクトル

In [49]:
#polarsではlengthの異なるSeriesに +等の演算子を使用することはできない
#print( ages + pl.Series([1, 100]) )

#import numpy as np
#print( ages + np.array([1, 100]))

#### 2.2.3.4 インデックスラベルが共通するベクトル(自動整列)
**polarsにはindexは無い**ので、省略

## 2.3 DataFrameについて

### 2.3.1 DataFrameの構成要素

In [50]:
#polarsにindexは無い
#print( scientists.index )

#列名はリスト
print( scientists.columns )

#polarsのvaluesに対応させるにはto_numpyにする?
#print( scientists.values )
print( scientists.to_numpy() )

#別の表示形式
#print( scientists.to_arrow() )
#print( scientists.to_dicts() )

['Name', 'Born', 'Died', 'Age', 'Occupation']
[['Rosaline Franklin' '1920-07-25' '1958-04-16' 37 'Chemist']
 ['William Gosset' '1876-06-13' '1937-10-16' 61 'Statistician']
 ['Florence Nightingale' '1820-05-12' '1910-08-13' 90 'Nurse']
 ['Marie Curie' '1867-11-07' '1934-07-04' 66 'Chemist']
 ['Rachel Carson' '1907-05-27' '1964-04-14' 56 'Biologist']
 ['John Snow' '1813-03-15' '1858-06-16' 45 'Physician']
 ['Alan Turing' '1912-06-23' '1954-06-07' 41 'Computer Scientist']
 ['Johann Gauss' '1777-04-30' '1855-02-23' 77 'Mathematician']]

### 2.3.2 DataFrameを真偽値で絞り込む

In [51]:
#print( scientists.loc[ scientists["Age"] > scientists["Age"].mean() ] )

# polarsで真偽値で絞り込む場合、filter関数を使用する
# 下記の3行は同じ結果を返す
# 注釈: sort()を使用しているのはpolarsは並列処理で順番が入れ替わることがあるため。
print( scientists.filter( scientists["Age"] > scientists["Age"].mean() ).sort("Name") )
print( scientists.filter( pl.col("Age") > scientists["Age"].mean() ).sort("Name") )
print( scientists.filter( scientists["Age"] > pl.col("Age").mean() ).sort("Name") )

shape: (4, 5)
┌──────────────────────┬────────────┬────────────┬─────┬───────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation    │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---           │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str           │
╞══════════════════════╪════════════╪════════════╪═════╪═══════════════╡
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse         │
│ Johann Gauss         ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematician │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist       │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician  │
└──────────────────────┴────────────┴────────────┴─────┴───────────────┘
shape: (4, 5)
┌──────────────────────┬────────────┬────────────┬─────┬───────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation    │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---           │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str           │
╞══════════════════════╪════════════╪════════════╪═════╪═══════════════╡
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse         │
│ Johann Gauss         ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematician │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist       │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician  │
└──────────────────────┴────────────┴────────────┴─────┴───────────────┘
shape: (4, 5)
┌──────────────────────┬────────────┬────────────┬─────┬───────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation    │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---           │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str           │
╞══════════════════════╪════════════╪════════════╪═════╪═══════════════╡
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse         │
│ Johann Gauss         ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematician │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist       │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician  │
└──────────────────────┴────────────┴────────────┴─────┴───────────────┘

In [52]:
# 下記の2行は、前のセルの3行と同じ結果を返す
print( scientists.filter( pl.col("Age") > pl.col("Age").mean() ).sort("Name") )
print( scientists.filter( pl.col("Age") > pl.mean("Age") ).sort("Name") )

shape: (4, 5)
┌──────────────────────┬────────────┬────────────┬─────┬───────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation    │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---           │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str           │
╞══════════════════════╪════════════╪════════════╪═════╪═══════════════╡
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse         │
│ Johann Gauss         ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematician │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist       │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician  │
└──────────────────────┴────────────┴────────────┴─────┴───────────────┘
shape: (4, 5)
┌──────────────────────┬────────────┬────────────┬─────┬───────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation    │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---           │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str           │
╞══════════════════════╪════════════╪════════════╪═════╪═══════════════╡
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse         │
│ Johann Gauss         ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematician │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist       │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician  │
└──────────────────────┴────────────┴────────────┴─────┴───────────────┘

### 2.3.3 演算による整列とベクトル化(ブロードキャスティング)

In [53]:
first_half = scientists[:4]
second_half = scientists[4:]

print(first_half)
print(second_half)

shape: (4, 5)
┌──────────────────────┬────────────┬────────────┬─────┬──────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation   │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---          │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str          │
╞══════════════════════╪════════════╪════════════╪═════╪══════════════╡
│ Rosaline Franklin    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  ┆ Chemist      │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician │
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse        │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist      │
└──────────────────────┴────────────┴────────────┴─────┴──────────────┘
shape: (4, 5)
┌───────────────┬────────────┬────────────┬─────┬────────────────────┐
│ Name          ┆ Born       ┆ Died       ┆ Age ┆ Occupation         │
│ ---           ┆ ---        ┆ ---        ┆ --- ┆ ---                │
│ str           ┆ str        ┆ str        ┆ i64 ┆ str                │
╞═══════════════╪════════════╪════════════╪═════╪════════════════════╡
│ Rachel Carson ┆ 1907-05-27 ┆ 1964-04-14 ┆ 56  ┆ Biologist          │
│ John Snow     ┆ 1813-03-15 ┆ 1858-06-16 ┆ 45  ┆ Physician          │
│ Alan Turing   ┆ 1912-06-23 ┆ 1954-06-07 ┆ 41  ┆ Computer Scientist │
│ Johann Gauss  ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematician      │
└───────────────┴────────────┴────────────┴─────┴────────────────────┘

In [54]:
#polarsの場合、文字列操作で *演算子は使用できない
#print( scientists * 2 )

## 2.4 SeriesとDataFrameの書き換え

In [55]:
scientists.dtypes

[Utf8, Utf8, Utf8, Int64, Utf8]

In [56]:
#年-月-日に変換したい場合、to_dateを用いる
born_datetime = scientists["Born"].str.to_date(format = "%Y-%m-%d")
print(born_datetime)

died_datetime = scientists["Died"].str.to_date(format = "%Y-%m-%d")
print(died_datetime)

shape: (8,)
Series: 'Born' [date]
[
	1920-07-25
	1876-06-13
	1820-05-12
	1867-11-07
	1907-05-27
	1813-03-15
	1912-06-23
	1777-04-30
]
shape: (8,)
Series: 'Died' [date]
[
	1958-04-16
	1937-10-16
	1910-08-13
	1934-07-04
	1964-04-14
	1858-06-16
	1954-06-07
	1855-02-23
]

In [57]:
#polarsで列を追加したい場合、with_columns関数を使用する
#scientists["born_dt"], scientists["died_dt"] = (
#    born_datetime,
#    died_datetime
#)

scientists = scientists.with_columns([
    born_datetime.alias("born_dt"),
    died_datetime.alias("died_dt")
])

print(scientists.head())
print(scientists.shape)
print(scientists.dtypes)

shape: (5, 7)
┌──────────────────────┬────────────┬────────────┬─────┬──────────────┬────────────┬────────────┐
│ Name                 ┆ Born       ┆ Died       ┆ Age ┆ Occupation   ┆ born_dt    ┆ died_dt    │
│ ---                  ┆ ---        ┆ ---        ┆ --- ┆ ---          ┆ ---        ┆ ---        │
│ str                  ┆ str        ┆ str        ┆ i64 ┆ str          ┆ date       ┆ date       │
╞══════════════════════╪════════════╪════════════╪═════╪══════════════╪════════════╪════════════╡
│ Rosaline Franklin    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  ┆ Chemist      ┆ 1920-07-25 ┆ 1958-04-16 │
│ William Gosset       ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statistician ┆ 1876-06-13 ┆ 1937-10-16 │
│ Florence Nightingale ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse        ┆ 1820-05-12 ┆ 1910-08-13 │
│ Marie Curie          ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist      ┆ 1867-11-07 ┆ 1934-07-04 │
│ Rachel Carson        ┆ 1907-05-27 ┆ 1964-04-14 ┆ 56  ┆ Biologist    ┆ 1907-05-27 ┆ 1964-04-14 │
└──────────────────────┴────────────┴────────────┴─────┴──────────────┴────────────┴────────────┘
(8, 7)
[Utf8, Utf8, Utf8, Int64, Utf8, Date, Date]

### 2.4.2 列を直接変更する

In [58]:
print(scientists["Age"])

shape: (8,)
Series: 'Age' [i64]
[
	37
	61
	90
	66
	56
	45
	41
	77
]

In [59]:
#pandasはデータがindexに紐づいているため、ある列のデータを無作為に並べ替えて代入しても、元のDataFrameは変化しない
#scientists["Age"] = scientists["Age"].sample(fraction = 1, seed = 42)

#しかし、polarsにはindexが無いため、並べ替えた列の代入が可能
#scientists = scientists.replace("Age", scientists["Age"].sample(fraction = 1, seed = 42))
#scientists

In [61]:
scientists = scientists.with_columns([
    (scientists["died_dt"] - scientists["born_dt"]).alias("age_days")
])
print(scientists)

shape: (8, 8)
┌─────────────┬────────────┬────────────┬─────┬─────────────┬────────────┬────────────┬────────────┐
│ Name        ┆ Born       ┆ Died       ┆ Age ┆ Occupation  ┆ born_dt    ┆ died_dt    ┆ age_days   │
│ ---         ┆ ---        ┆ ---        ┆ --- ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│ str         ┆ str        ┆ str        ┆ i64 ┆ str         ┆ date       ┆ date       ┆ duration[m │
│             ┆            ┆            ┆     ┆             ┆            ┆            ┆ s]         │
╞═════════════╪════════════╪════════════╪═════╪═════════════╪════════════╪════════════╪════════════╡
│ Rosaline    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  ┆ Chemist     ┆ 1920-07-25 ┆ 1958-04-16 ┆ 13779d     │
│ Franklin    ┆            ┆            ┆     ┆             ┆            ┆            ┆            │
│ William     ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statisticia ┆ 1876-06-13 ┆ 1937-10-16 ┆ 22404d     │
│ Gosset      ┆            ┆            ┆     ┆ n           ┆            ┆            ┆            │
│ Florence    ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse       ┆ 1820-05-12 ┆ 1910-08-13 ┆ 32964d     │
│ Nightingale ┆            ┆            ┆     ┆             ┆            ┆            ┆            │
│ Marie Curie ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist     ┆ 1867-11-07 ┆ 1934-07-04 ┆ 24345d     │
│ Rachel      ┆ 1907-05-27 ┆ 1964-04-14 ┆ 56  ┆ Biologist   ┆ 1907-05-27 ┆ 1964-04-14 ┆ 20777d     │
│ Carson      ┆            ┆            ┆     ┆             ┆            ┆            ┆            │
│ John Snow   ┆ 1813-03-15 ┆ 1858-06-16 ┆ 45  ┆ Physician   ┆ 1813-03-15 ┆ 1858-06-16 ┆ 16529d     │
│ Alan Turing ┆ 1912-06-23 ┆ 1954-06-07 ┆ 41  ┆ Computer    ┆ 1912-06-23 ┆ 1954-06-07 ┆ 15324d     │
│             ┆            ┆            ┆     ┆ Scientist   ┆            ┆            ┆            │
│ Johann      ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematici ┆ 1777-04-30 ┆ 1855-02-23 ┆ 28422d     │
│ Gauss       ┆            ┆            ┆     ┆ an          ┆            ┆            ┆            │
└─────────────┴────────────┴────────────┴─────┴─────────────┴────────────┴────────────┴────────────┘

### 2.4.3 列をassign()によって変更する

In [63]:
#pandasのassignに相当するpolarsの関数はwit_columns
#scientists = scientists.assign(
#    age_days_days_assign = scientists["died_dt"] - scientists["born_dt"]
#)

### 2.4.4 値を捨てる

In [65]:
print(scientists.columns)

scientists_dropped = scientists.drop(["Age"])

print(scientists_dropped.columns)

['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt', 'age_days']
['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt', 'age_days']

## 2.5 データのエクスポートとインポート

### 2.5.1 pickle

#### 2.5.1.1  Series

In [67]:
#polarsにはpickle型式で保存する方法は無い?
names = scientists["Name"]
print(names)
#names.to_pickle("output/scientists_names_series.pickle")

shape: (8,)
Series: 'Name' [str]
[
	"Rosaline Frank…
	"William Gosset…
	"Florence Night…
	"Marie Curie"
	"Rachel Carson"
	"John Snow"
	"Alan Turing"
	"Johann Gauss"
]

#### 2.5.1.2 DataFrame
Series同様にpickle形式での保存方法は無い

#### 2.5.1.3 pickleデータを読み込む
無い

### 2.5.2 CSV

In [88]:
#path = r"C:\Users\treme\source\RustApps\pandas_for_everyone\training_polars"
#import pathlib
#print(pathlib.Path())
##path = r"./output/scientists_df_no_index.csv"
scientists.write_csv("scientists_df_no_index.csv")

ComputeError: datatype 13779d cannot be written to csv

### 2.5.4 featherフォーマット

In [90]:
#pandasではto_feather
#Write to Arrow IPC binary stream or Feather file.
scientists.write_ipc("scientists.feather")

#pandasではread_feather
#Read into a DataFrame from Arrow IPC (Feather v2) file.
sci_feather = pl.read_ipc("scientists.feather")
print(sci_feather)

shape: (8, 8)
┌─────────────┬────────────┬────────────┬─────┬─────────────┬────────────┬────────────┬────────────┐
│ Name        ┆ Born       ┆ Died       ┆ Age ┆ Occupation  ┆ born_dt    ┆ died_dt    ┆ age_days   │
│ ---         ┆ ---        ┆ ---        ┆ --- ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│ str         ┆ str        ┆ str        ┆ i64 ┆ str         ┆ date       ┆ date       ┆ duration[m │
│             ┆            ┆            ┆     ┆             ┆            ┆            ┆ s]         │
╞═════════════╪════════════╪════════════╪═════╪═════════════╪════════════╪════════════╪════════════╡
│ Rosaline    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  ┆ Chemist     ┆ 1920-07-25 ┆ 1958-04-16 ┆ 13779d     │
│ Franklin    ┆            ┆            ┆     ┆             ┆            ┆            ┆            │
│ William     ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statisticia ┆ 1876-06-13 ┆ 1937-10-16 ┆ 22404d     │
│ Gosset      ┆            ┆            ┆     ┆ n           ┆            ┆            ┆            │
│ Florence    ┆ 1820-05-12 ┆ 1910-08-13 ┆ 90  ┆ Nurse       ┆ 1820-05-12 ┆ 1910-08-13 ┆ 32964d     │
│ Nightingale ┆            ┆            ┆     ┆             ┆            ┆            ┆            │
│ Marie Curie ┆ 1867-11-07 ┆ 1934-07-04 ┆ 66  ┆ Chemist     ┆ 1867-11-07 ┆ 1934-07-04 ┆ 24345d     │
│ Rachel      ┆ 1907-05-27 ┆ 1964-04-14 ┆ 56  ┆ Biologist   ┆ 1907-05-27 ┆ 1964-04-14 ┆ 20777d     │
│ Carson      ┆            ┆            ┆     ┆             ┆            ┆            ┆            │
│ John Snow   ┆ 1813-03-15 ┆ 1858-06-16 ┆ 45  ┆ Physician   ┆ 1813-03-15 ┆ 1858-06-16 ┆ 16529d     │
│ Alan Turing ┆ 1912-06-23 ┆ 1954-06-07 ┆ 41  ┆ Computer    ┆ 1912-06-23 ┆ 1954-06-07 ┆ 15324d     │
│             ┆            ┆            ┆     ┆ Scientist   ┆            ┆            ┆            │
│ Johann      ┆ 1777-04-30 ┆ 1855-02-23 ┆ 77  ┆ Mathematici ┆ 1777-04-30 ┆ 1855-02-23 ┆ 28422d     │
│ Gauss       ┆            ┆            ┆     ┆ an          ┆            ┆            ┆            │
└─────────────┴────────────┴────────────┴─────┴─────────────┴────────────┴────────────┴────────────┘

### 2.5.6 辞書(dict)

In [91]:
sci_sub_dict = scientists.head(2)

sci_dict = sci_sub_dict.to_dict()

import pprint
pprint.pprint(sci_dict)

{'Age': shape: (2,)
Series: 'Age' [i64]
[
	37
	61
],
 'Born': shape: (2,)
Series: 'Born' [str]
[
	"1920-07-25"
	"1876-06-13"
],
 'Died': shape: (2,)
Series: 'Died' [str]
[
	"1958-04-16"
	"1937-10-16"
],
 'Name': shape: (2,)
Series: 'Name' [str]
[
	"Rosaline Frank…
	"William Gosset…
],
 'Occupation': shape: (2,)
Series: 'Occupation' [str]
[
	"Chemist"
	"Statistician"
],
 'age_days': shape: (2,)
Series: 'age_days' [duration[ms]]
[
	13779d
	22404d
],
 'born_dt': shape: (2,)
Series: 'born_dt' [date]
[
	1920-07-25
	1876-06-13
],
 'died_dt': shape: (2,)
Series: 'died_dt' [date]
[
	1958-04-16
	1937-10-16
]}

In [92]:
sci_dict_df = pl.DataFrame(sci_dict)
print(sci_dict_df)

shape: (2, 8)
┌─────────────┬────────────┬────────────┬─────┬─────────────┬────────────┬────────────┬────────────┐
│ Name        ┆ Born       ┆ Died       ┆ Age ┆ Occupation  ┆ born_dt    ┆ died_dt    ┆ age_days   │
│ ---         ┆ ---        ┆ ---        ┆ --- ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│ str         ┆ str        ┆ str        ┆ i64 ┆ str         ┆ date       ┆ date       ┆ duration[m │
│             ┆            ┆            ┆     ┆             ┆            ┆            ┆ s]         │
╞═════════════╪════════════╪════════════╪═════╪═════════════╪════════════╪════════════╪════════════╡
│ Rosaline    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  ┆ Chemist     ┆ 1920-07-25 ┆ 1958-04-16 ┆ 13779d     │
│ Franklin    ┆            ┆            ┆     ┆             ┆            ┆            ┆            │
│ William     ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  ┆ Statisticia ┆ 1876-06-13 ┆ 1937-10-16 ┆ 22404d     │
│ Gosset      ┆            ┆            ┆     ┆ n           ┆            ┆            ┆            │
└─────────────┴────────────┴────────────┴─────┴─────────────┴────────────┴────────────┴────────────┘

### 2.5.7 JSON(JavaScript Object Notation)
JSONの書き込みと読み取りだけなので、割愛する