## 第6章 データの組立
### 6.1 データセットを組み合わせる
### 6.2 連結

In [2]:
import pandas as pd
df1 = pd.read_csv("../data/concat_1.csv")
df2 = pd.read_csv("../data/concat_2.csv")
df3 = pd.read_csv("../data/concat_3.csv")

display("元データ その1", df1)
display("元データ その2", df2)
display("元データ その3", df3)

'元データ その1'

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

'元データ その2'

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

'元データ その3'

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [3]:
import polars as pl
df1 = pl.read_csv("../data/concat_1.csv")
df2 = pl.read_csv("../data/concat_2.csv")
df3 = pl.read_csv("../data/concat_3.csv")

display("元データ その1", df1)
display("元データ その2", df2)
display("元データ その3", df3)

'元データ その1'

shape: (4, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ D   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a0  ┆ b0  ┆ c0  ┆ d0  │
│ a1  ┆ b1  ┆ c1  ┆ d1  │
│ a2  ┆ b2  ┆ c2  ┆ d2  │
│ a3  ┆ b3  ┆ c3  ┆ d3  │
└─────┴─────┴─────┴─────┘

'元データ その2'

shape: (4, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ D   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a4  ┆ b4  ┆ c4  ┆ d4  │
│ a5  ┆ b5  ┆ c5  ┆ d5  │
│ a6  ┆ b6  ┆ c6  ┆ d6  │
│ a7  ┆ b7  ┆ c7  ┆ d7  │
└─────┴─────┴─────┴─────┘

'元データ その3'

shape: (4, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ D   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a8  ┆ b8  ┆ c8  ┆ d8  │
│ a9  ┆ b9  ┆ c9  ┆ d9  │
│ a10 ┆ b10 ┆ c10 ┆ d10 │
│ a11 ┆ b11 ┆ c11 ┆ d11 │
└─────┴─────┴─────┴─────┘

#### 6.2.1 DataFrameの構成要素(復習)
index, columns, valuesなので省略
#### 6.2.2 行の追加

In [10]:
import pandas as pd
df1 = pd.read_csv("../data/concat_1.csv")
df2 = pd.read_csv("../data/concat_2.csv")
df3 = pd.read_csv("../data/concat_3.csv")

row_concat = pd.concat([df1, df2, df3])
display("行方向に結合したデータ(縦結合)", row_concat)

new_row_df = pd.DataFrame({
    "A": ["n1"],
    "B": ["n2"],
    "C": ["n3"],
    "D": ["n4"]
})
display("行方向に結合したデータ(縦結合)", pd.concat([df1, new_row_df]))

'行方向に結合したデータ(縦結合)'

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

'行方向に結合したデータ(縦結合)'

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [7]:
import polars as pl
df1 = pl.read_csv("../data/concat_1.csv")
df2 = pl.read_csv("../data/concat_2.csv")
df3 = pl.read_csv("../data/concat_3.csv")

row_concat = pl.concat(items = [df1, df2, df3], how = 'vertical')
display("行方向に結合したデータ(縦結合)", row_concat)

new_row_df = pl.DataFrame({
    "A": ["n1"],
    "B": ["n2"],
    "C": ["n3"],
    "D": ["n4"]
})
display("行方向に結合したデータ(縦結合)", pl.concat(items = [df1, new_row_df], how = 'vertical'))

'行方向に結合したデータ(縦結合)'

shape: (12, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ D   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a0  ┆ b0  ┆ c0  ┆ d0  │
│ a1  ┆ b1  ┆ c1  ┆ d1  │
│ a2  ┆ b2  ┆ c2  ┆ d2  │
│ a3  ┆ b3  ┆ c3  ┆ d3  │
│ …   ┆ …   ┆ …   ┆ …   │
│ a8  ┆ b8  ┆ c8  ┆ d8  │
│ a9  ┆ b9  ┆ c9  ┆ d9  │
│ a10 ┆ b10 ┆ c10 ┆ d10 │
│ a11 ┆ b11 ┆ c11 ┆ d11 │
└─────┴─────┴─────┴─────┘

'行方向に結合したデータ(縦結合)'

shape: (5, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ D   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a0  ┆ b0  ┆ c0  ┆ d0  │
│ a1  ┆ b1  ┆ c1  ┆ d1  │
│ a2  ┆ b2  ┆ c2  ┆ d2  │
│ a3  ┆ b3  ┆ c3  ┆ d3  │
│ n1  ┆ n2  ┆ n3  ┆ n4  │
└─────┴─────┴─────┴─────┘

#### 6.2.2.1 インデックスの再設定
polarsにはindexが無いので省略
#### 6.2.3 列の追加

In [15]:
import pandas as pd
df1 = pd.read_csv("../data/concat_1.csv")
df2 = pd.read_csv("../data/concat_2.csv")
df3 = pd.read_csv("../data/concat_3.csv")

#polarsでは同じ列名が許されないので、pandasと同様の横結合はできない
col_concat = pd.concat([df1, df2, df3], axis = "columns")
display("列方向に結合したデータ(横結合)", col_concat)

'列方向に結合したデータ(横結合)'

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [14]:
import polars as pl
df1 = pl.read_csv("../data/concat_1.csv")
df2 = pl.read_csv("../data/concat_2.csv")
df3 = pl.read_csv("../data/concat_3.csv")

# polarsで同名の列を横結合する場合、renameする必要がある
col_concat = pl.concat(items = [df1,
                                 df2.rename(mapping = {"A": "A2", "B": "B2", "C": "C2", "D": "D2"}),
                                   df3.rename(mapping = {"A": "A3", "B": "B3", "C": "C3", "D": "D3"})],
                        how = 'horizontal')
display("列方向に結合したデータ(横結合)", col_concat)

'列方向に結合したデータ(横結合)'

shape: (4, 12)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ D   ┆ … ┆ A3  ┆ B3  ┆ C3  ┆ D3  │
│ --- ┆ --- ┆ --- ┆ --- ┆   ┆ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str ┆   ┆ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ a0  ┆ b0  ┆ c0  ┆ d0  ┆ … ┆ a8  ┆ b8  ┆ c8  ┆ d8  │
│ a1  ┆ b1  ┆ c1  ┆ d1  ┆ … ┆ a9  ┆ b9  ┆ c9  ┆ d9  │
│ a2  ┆ b2  ┆ c2  ┆ d2  ┆ … ┆ a10 ┆ b10 ┆ c10 ┆ d10 │
│ a3  ┆ b3  ┆ c3  ┆ d3  ┆ … ┆ a11 ┆ b11 ┆ c11 ┆ d11 │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

#### 6.2.4 インデックスが異なる連結
#### 6.2.4.1 列に相違のある行を連結する

In [18]:
import pandas as pd
df1 = pd.read_csv("../data/concat_1.csv")
df2 = pd.read_csv("../data/concat_2.csv")
df3 = pd.read_csv("../data/concat_3.csv")

df1.columns = ["A", "B", "C", "D"]
df2.columns = ["E", "F", "G", "H"]
df3.columns = ["A", "C", "F", "H"]

display("元データ その1", df1)
display("列名を変更したデータ その1", df2)
display("列名を変更したデータ その2", df3)

# 列名が異なるDataFrameを盾結合する場合は'diagonal'を指定する
row_concat = pd.concat([df1, df2, df3])
display("行方向に結合したデータ(縦結合)", row_concat)

'元データ その1'

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

'列名を変更したデータ その1'

    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

'列名を変更したデータ その2'

     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

'行方向に結合したデータ(縦結合)'

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [19]:
import polars as pl
df1 = pl.read_csv("../data/concat_1.csv")
df2 = pl.read_csv("../data/concat_2.csv")
df3 = pl.read_csv("../data/concat_3.csv")

df1.columns = ["A", "B", "C", "D"]
df2.columns = ["E", "F", "G", "H"]
df3.columns = ["A", "C", "F", "H"]

display("元データ その1", df1)
display("列名を変更したデータ その1", df2)
display("列名を変更したデータ その2", df3)

# 列名が異なるDataFrameを盾結合する場合は'diagonal'を指定する
row_concat = pl.concat(items = [df1, df2, df3], how = 'diagonal')
display("行方向に結合したデータ(縦結合)", row_concat)

'元データ その1'

shape: (4, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ D   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a0  ┆ b0  ┆ c0  ┆ d0  │
│ a1  ┆ b1  ┆ c1  ┆ d1  │
│ a2  ┆ b2  ┆ c2  ┆ d2  │
│ a3  ┆ b3  ┆ c3  ┆ d3  │
└─────┴─────┴─────┴─────┘

'列名を変更したデータ その1'

shape: (4, 4)
┌─────┬─────┬─────┬─────┐
│ E   ┆ F   ┆ G   ┆ H   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a4  ┆ b4  ┆ c4  ┆ d4  │
│ a5  ┆ b5  ┆ c5  ┆ d5  │
│ a6  ┆ b6  ┆ c6  ┆ d6  │
│ a7  ┆ b7  ┆ c7  ┆ d7  │
└─────┴─────┴─────┴─────┘

'列名を変更したデータ その2'

shape: (4, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ C   ┆ F   ┆ H   │
│ --- ┆ --- ┆ --- ┆ --- │
│ str ┆ str ┆ str ┆ str │
╞═════╪═════╪═════╪═════╡
│ a8  ┆ b8  ┆ c8  ┆ d8  │
│ a9  ┆ b9  ┆ c9  ┆ d9  │
│ a10 ┆ b10 ┆ c10 ┆ d10 │
│ a11 ┆ b11 ┆ c11 ┆ d11 │
└─────┴─────┴─────┴─────┘

'行方向に結合したデータ(縦結合)'

shape: (12, 8)
┌─────┬──────┬─────┬──────┬──────┬──────┬──────┬──────┐
│ A   ┆ B    ┆ C   ┆ D    ┆ E    ┆ F    ┆ G    ┆ H    │
│ --- ┆ ---  ┆ --- ┆ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ str ┆ str  ┆ str ┆ str  ┆ str  ┆ str  ┆ str  ┆ str  │
╞═════╪══════╪═════╪══════╪══════╪══════╪══════╪══════╡
│ a0  ┆ b0   ┆ c0  ┆ d0   ┆ null ┆ null ┆ null ┆ null │
│ a1  ┆ b1   ┆ c1  ┆ d1   ┆ null ┆ null ┆ null ┆ null │
│ a2  ┆ b2   ┆ c2  ┆ d2   ┆ null ┆ null ┆ null ┆ null │
│ a3  ┆ b3   ┆ c3  ┆ d3   ┆ null ┆ null ┆ null ┆ null │
│ …   ┆ …    ┆ …   ┆ …    ┆ …    ┆ …    ┆ …    ┆ …    │
│ a8  ┆ null ┆ b8  ┆ null ┆ null ┆ c8   ┆ null ┆ d8   │
│ a9  ┆ null ┆ b9  ┆ null ┆ null ┆ c9   ┆ null ┆ d9   │
│ a10 ┆ null ┆ b10 ┆ null ┆ null ┆ c10  ┆ null ┆ d10  │
│ a11 ┆ null ┆ b11 ┆ null ┆ null ┆ c11  ┆ null ┆ d11  │
└─────┴──────┴─────┴──────┴──────┴──────┴──────┴──────┘

#### 6.2.4.2 行に相違のある列を連結する
polarsにindexは無いので、この節は省略
## 6.3 データが観測単位ごとの表に分かれている場合
github上に書籍で紹介されているデータがないのでスキップする