# 第2章 pandasのデータ構造
## 2.1 データを自作する

In [3]:
import polars as pl

In [4]:
pl.Series("Occupation", ["Wes McKinney", "Creator of Pandas"])

shape: (2,)
Series: 'Occupation' [str]
[
	"Wes McKinney"
	"Creator of Pan…
]

In [5]:
# DataFrameは列名とリストの辞書型で構成される
pl.DataFrame({
    "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61],
})

shape: (2, 5)
┌───────────────────┬────────────┬────────────┬────────────┬─────┐
│ Name              ┆ Occupation ┆ Born       ┆ Died       ┆ Age │
│ ---               ┆ ---        ┆ ---        ┆ ---        ┆ --- │
│ str               ┆ str        ┆ str        ┆ str        ┆ i64 │
╞═══════════════════╪════════════╪════════════╪════════════╪═════╡
│ Rosaline Franklin ┆ Chemist    ┆ 1920-07-25 ┆ 1958-04-16 ┆ 37  │
│ William Gosset    ┆ Statician  ┆ 1876-06-13 ┆ 1937-10-16 ┆ 61  │
└───────────────────┴────────────┴────────────┴────────────┴─────┘