# 第10章 データ型

In [8]:
import polars as pl
pl.Config.set_tbl_cols(-1)# 列が省略されないようにする

polars.config.Config

### データを読み込む

In [9]:
import seaborn as sns

tips = pl.DataFrame(sns.load_dataset("tips"))
tips.head()

shape: (5, 7)
┌────────────┬──────┬────────┬────────┬─────┬────────┬──────┐
│ total_bill ┆ tip  ┆ sex    ┆ smoker ┆ day ┆ time   ┆ size │
│ ---        ┆ ---  ┆ ---    ┆ ---    ┆ --- ┆ ---    ┆ ---  │
│ f64        ┆ f64  ┆ cat    ┆ cat    ┆ cat ┆ cat    ┆ i64  │
╞════════════╪══════╪════════╪════════╪═════╪════════╪══════╡
│ 16.99      ┆ 1.01 ┆ Female ┆ No     ┆ Sun ┆ Dinner ┆ 2    │
│ 10.34      ┆ 1.66 ┆ Male   ┆ No     ┆ Sun ┆ Dinner ┆ 3    │
│ 21.01      ┆ 3.5  ┆ Male   ┆ No     ┆ Sun ┆ Dinner ┆ 3    │
│ 23.68      ┆ 3.31 ┆ Male   ┆ No     ┆ Sun ┆ Dinner ┆ 2    │
│ 24.59      ┆ 3.61 ┆ Female ┆ No     ┆ Sun ┆ Dinner ┆ 4    │
└────────────┴──────┴────────┴────────┴─────┴────────┴──────┘

### データを変換する

In [10]:
# 数値型を文字列に変換する
tips["tip"].cast(pl.Utf8).head(n = 5)

shape: (5,)
Series: 'tip' [str]
[
	"1.01"
	"1.66"
	"3.5"
	"3.31"
	"3.61"
]

In [11]:
# 文字列に変換して、もう一度数値に変換する
tips["total_bill"].cast(pl.Utf8).cast(pl.Float64).head(n = 5)

shape: (5,)
Series: 'total_bill' [f64]
[
	16.99
	10.34
	21.01
	23.68
	24.59
]

In [13]:
# 数値型を、中間の文字列に変換して、さらにカテゴリ変数に変換する
tips["size"].cast(pl.Utf8).cast(pl.Categorical).head(n = 5)

shape: (5,)
Series: 'size' [cat]
[
	"2"
	"3"
	"3"
	"2"
	"4"
]